
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10.55%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10.55%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.55%;
    --primary: 41.19 84.13% 66.47%;
    --primary-foreground: 0 0% 0%;
    --secondary: 234.62 14.04% 95.29%;
    --secondary-foreground: 235.71 33.92% 25.49%;
    --muted: 231.43 10.2% 97.65%;
    --muted-foreground: 234.78 24.03% 54.31%;
    --accent: 79.41 100% 95.88%;
    --accent-foreground: 41.85 84.66% 35.1%;
    --destructive: 17.86 87.85% 65.49%;
    --destructive-foreground: 0 0% 100%;
    --border: 234.55 24.24% 91.76%;
    --input: 234.55 24.24% 91.76%;
    --ring: 41.19 84.13% 66.47%;
    --chart-1: 41.19 84.13% 66.47%;
    --chart-2: 47.96 81.56% 61.96%;
    --chart-3: 45.87 82.35% 55.1%;
    --chart-4: 41.85 84.66% 35.1%;
    --chart-5: 41.79 83.43% 29.61%;
    --sidebar-background: 231.43 10.2% 97.65%;
    --sidebar-foreground: 0 0% 10.55%;
    --sidebar-primary: 41.19 84.13% 66.47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 79.41 100% 95.88%;
    --sidebar-accent-foreground: 41.85 84.66% 35.1%;
    --sidebar-border: 234.55 24.24% 91.76%;
    --sidebar-ring: 41.19 84.13% 66.47%;
    --radius: 0.375rem;
  }

  .dark {
    --background: 0 0% 8.04%;
    --foreground: 0 0% 91.18%;
    --card: 0 0% 10.55%;
    --card-foreground: 0 0% 91.18%;
    --popover: 0 0% 10.55%;
    --popover-foreground: 0 0% 91.18%;
    --primary: 41.19 84.13% 66.47%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10.55%;
    --secondary-foreground: 0 0% 91.18%;
    --muted: 0 0% 9.41%;
    --muted-foreground: 0 0% 70.59%;
    --accent: 41.85 84.66% 35.1%;
    --accent-foreground: 77.78 100% 90.59%;
    --destructive: 17.86 87.85% 65.49%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.51%;
    --input: 0 0% 14.51%;
    --ring: 41.19 84.13% 66.47%;
    --chart-1: 60.65 84.78% 82.16%;
    --chart-2: 47.96 81.56% 61.96%;
    --chart-3: 41.85 84.66% 35.1%;
    --chart-4: 45.87 82.35% 55.1%;
    --chart-5: 41.85 84.66% 35.1%;
    --sidebar-background: 0 0% 6.59%;
    --sidebar-foreground: 0 0% 91.18%;
    --sidebar-primary: 41.19 84.13% 66.47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 41.85 84.66% 35.1%;
    --sidebar-accent-foreground: 77.78 100% 90.59%;
    --sidebar-border: 0 0% 14.51%;
    --sidebar-ring: 41.19 84.13% 66.47%;
    --radius: 0.375rem;
  }
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
  
  table th, table td {
    text-align: left;
  }
}
